<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="page-header">
      {% include header.html %}
    </div>

    <div id="page-content" class="container">
      {{ content }}
    </div>

    <div id="page-footer">
      {% include footer.html %}
    </div>

    <div id="gotop"></div>

    <script src="{{ site.url }}/assets/js/jquery1.11.1.min.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/assets/js/base.js"></script>
  </body>
</html>
